<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>		
		<add name="SowScheduleDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SowScheduleDB.mdf;Integrated Security=True;" providerName="Microsoft.EntityFrameworkCore.SqlServer" />
	</connectionStrings>
	<appSettings>
		<add key="Hola" value="Mundo"/>
		<add key="MinimumLimitOfSow" value="50"/>
	</appSettings>
	
</configuration>