<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RegressionDays" value="90"/>
		<add key="DailySowingPotential" value="500"/>
		<add key="MinimumLimitOfSowPerDay" value="50"/>
		<add key="LocationMinimumSeedTray" value="50"/>
		<add key="SeedlingMultiplier" value="1.2"/>
		<add key="SowShowRange" value="14"/>
		<add key="DeliveryShowRange" value="14"/>
	</appSettings>
</configuration>